server:
  port: 8081

spring:
  application:
    name: sharepay-merchant-service

  datasource:
    url: jdbc:postgresql://localhost:5432/sharepay_db?sslmode=disable
    username: sharepay_pafing
    password: "Sharepay@2026!"
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
